#reset .text-primary {
  color: #dd0000 !important;
}
#reset .btn-danger {
  background: #dd0000 !important;
  color: #ffffff;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  border-radius: 100px;
  width: 100%;
}
#reset .container #reset-row #reset-column #reset-box {
  margin-top: 120px;
  max-width: 500px;
  /* height: 380px; */
  background-color: #eaeaea;
}
#reset .container #reset-row #reset-column #reset-box #reset-form {
  padding: 20px;
}
#reset
  .container
  #reset-row
  #reset-column
  #reset-box
  #reset-form
  #register-link {
  margin-top: -85px;
}
#reset .form-control {
  border-radius: 100px;
}

#reset .reset-password-message {
  font-size: 14px;
}
